$wrapper {
  width: 72.22%;
  // margin 0 auto
  padding: 1.25rem;
  box-sizing: border-box;
  background-color: white;

  // float left
  @media (max-width: 1100px) {
    padding: 1.25rem;
    // width: 100%;
  }

  @media (max-width: 800px) {
    padding: 1.25rem;
    width: 100%;
  }
}
